.hero-unit
  h1 Welcome to the {{title}} page!

.row-fluid
  .span4
    img.th(src="img/demo1.jpg", shows-message-when-hovered, message="Im the first house.")

  .span4
    p
      {{message}}

  .span4
    img.th(src="img/demo2.jpg", shows-message-when-hovered, message="Im the second house.")

//button.button.large.expand.radius(ng-click="logout()") Log Out
