.navbar-inner
  .container-fluid
    button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.brand(href='/home') Angular Rails
    .nav-collapse.collapse(ng-switch="loggedIn")
      ul.nav(ng-switch-when="true")
        li(ng-class='{ active: isActive(\'/home\') }')
          a(href='/home') Home
        li(ng-class='{ active: isActive(\'/users\') }')
          a(href='/users') Users
        li(ng-class='{ active: isActive(\'/users\') }')
          a(href='/users') Foo
        li(ng-class='{ active: isActive(\'/users\') }')
          a(href='/users') Bar
        li(ng-class='{ active: isActive(\'/users\') }')
          a(href='/users') Baz
      ul.nav(ng-switch-default)
        li(ng-class='{ active: isActive(\'/home\') }')
          a(href='/home') Home
        li(ng-class='{ active: isActive(\'/features\') }')
          a(href='/features') Features
        li(ng-class='{ active: isActive(\'/explore\') }')
          a(href='/explore') Explore
    .pull-right(ng-if="loggedIn")
      .btn-group(user-profile-widget)
    .pull-right(ng-if="!(loggedIn)")
      .btn-group(signup-login-widget)
        