form(ng-submit="ok()")
  .modal-header
    h3 Log In

  .modal-body
    .row-fluid
      .span6: input(type="text", name="username", placeholder="username", ng-model="credentials.username", required)
      .span6: input(type="password", name="password", placeholder="password", ng-model="credentials.password", required)

  .modal-footer
    .pull-right: button.btn.btn-primary(type='submit') Log In
    .pull-left:  button.btn(ng-click='cancel()') Cancel