form(ng-submit="ok()")
  .modal-header
    h3 Log In

  .modal-body
    .row-fluid
      alert(ng-repeat="alert in loginAlerts", type="alert.type", close="closeAlert($index)")
        {{alert.msg}}
    .row-fluid
      .span6: input(type="text", name="username", placeholder="Email", ng-model="creds.email", required)
      .span6: input(type="password", name="password", placeholder="Password", ng-model="creds.password", required)

  .modal-footer
    .pull-right: button.btn.btn-primary(type='submit') Log In
    .pull-left:  button.btn(ng-click='cancel()') Cancel