form(ng-submit="ok()")
  .modal-header
    h3 Sign Up {{signup.email}}

  .modal-body
    input(type="text", name="email", placeholder="Email", ng-model="signup.email", required)
    input(type="text", name="username", placeholder="Username", ng-model="signup.username", required)
    input(type="password", name="password", placeholder="Password", ng-model="signup.password", required)
    input(type="password", name="passwordConfirmation", placeholder="Confirm", ng-model="signup.passwordConfirmation", required)

  .modal-footer
    .pull-right: button.btn.btn-primary(type="submit") Sign Up
    .pull-left: button.btn(ng-click='cancel()') Cancel